/* App.css */
@font-face {
    font-family: 'Inter';
    src: url('./assets/Inter.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
}
  
.app-container {
    display: flex;
    height: 100vh;
}
  
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #EBF2FC;
}

.sidebar {
    width: 200px;
    min-height: 100vh;
    padding-top: 180px;
    background-color: #1e5de1;
    overflow-y: auto;
    color: azure;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.sidebar-item {
    width: 90%;
    height: 40px;
    align-self: center;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #EBF2FC;
    align-items: center;
    transition: transform 0.2s;
    /* Removed flex-direction: row; */
  }
  
  .sidebar-item-upload {
    width: 90%;
    height: 40px;
    align-self: center;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #EBF2FC;
    align-items: center;
    transition: transform 0.2s;
    position: absolute;
    bottom: 5px;
  }
  
  .sidebar-item:hover {
    transform: scale(1.05);
  }
  .sidebar-item-upload:hover {
    transform: scale(1.05);
  }
  
  .sidebar-item-icon {
    font-size: 20px; /* Adjust the size as needed */
    color: black;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .sidebar-item-text {
    font-family: 'Inter';
    font-size: 14px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  