@font-face {
    font-family: 'Inter';
    src: url('./assets/Inter.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.item-main-frame {
    width: calc(20% - 10px); /* 20% width with a 10px margin between items */
    height: 240px; /* Set the height of each item */
    margin: 5px; /* Adjust margin as needed */
    background-color: #f5f9fd;
    border-radius: 20px;
    
  }

.item-image-preview-container {
    width: 95%;
    height: 80%;
    border-radius: 20px;
    margin: .5%;
    overflow: hidden;
    object-fit: cover;
}

.item-media-container {
    width: 95%;
    height: 80%;
    border-radius: 20px;
    margin: .5%;
    overflow: hidden;
    object-fit: cover;
}

.item-title {
    font-family: 'Inter';
    font-size: large;
    text-align: center;
    text-overflow: ellipsis;
}

.item-date {
    font-family: 'Inter';
    font-size: smaller;
    padding-bottom: 2px;
    text-align: center;
}


.item-main-frame:hover {
    transform: scale(1.05);
}